@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, ul, li, p, dl, dd, figure, th, td, fieldset, input { margin: 0; padding: 0; }
ul li{ list-style: none;}
a { text-decoration: none; }
table { border-collapse: collapse; }
fieldset, img { border: 0; }
address { font-style: normal; }
small { font-size: 1em; }
.hidden { position: absolute; left: -9999px; }
@font-face { font-family: segoe ;
  src: url(../webfont/segoeui.ttf),
       url(../webfont/segoeui.eot),
       url(../webfont/segoeui.woff);
}
body { min-width: 1000px; font-family: segoe, sans-serif; }
#header { width:1000px; height: 187px; margin: 0 auto; position: relative; }
#header h1 { width: 249px; padding: 90px 0 0 50px;  }
#header h1 a { height: 50px;
              background:url(../images/logo.png) no-repeat;
              display:block;
              text-indent: 100%; overflow: hidden; /* 글자 없애는 식*/
            }


#membership { position: absolute; top: 18px; right: 80px; }
#membership ul {  }
#membership ul li { position: relative; float: left;}
#membership ul li.gologin { padding-right: 10px;  }
#membership ul li.gologin::after { content: ""; position: absolute; top: 8px; right: 0; height: 11px;
                                  border-right:1px solid #000; }
#membership ul li.gojoin { padding-left: 10px; }
#membership ul li.gojoin::after { content: ""; position: absolute; top: 8px; left: 0; height: 11px;
                                  border-left:1px solid #82a0be; }

#membership ul li a { font-size: 14px; color: #333; }

#gnb { position:absolute; top: 106px; right:40px; }
#gnb ul {  }
#gnb ul li { float:left; margin-left: 10px; }
#gnb ul li a { padding: 0 10px 10px; text-transform: uppercase; font-size: 14px; color: #333; }
#gnb ul li a:hover{ border-bottom: 3px solid #00bff3;}



#footerWrap { border-top: 1px solid #000; padding-bottom:15px;  margin-top: 55px;}
#footer { overflow: hidden; width:1000px; margin: 0 auto;
          background: url(../images/logoFooter.png)no-repeat 55px 23px;
          padding: 24px 76px 20px 204px; box-sizing: border-box;}
#footer .info { float: left; font-size: 13px;}
#footer .sns{ float: right; }
#footer .sns li{ width: 33px; float: left; margin-left: 17px; }
#footer .sns li a{ display: block; height: 33px; text-indent: 100%; overflow: hidden;
                  background: url(../images/bgSns.png) no-repeat;
  }
#footer .sns li.twitter a{ background-position-x: -50px; /*li와 클래스명 twitter를 붙여서 */
    }







/* #slogan { width:100%; height: 363px; position:absolute; top: 187px;
          background:url(../images/title.png) no-repeat center / cover;
          display: block;
}
#slogan::after{ content: ""; width:100%; height:363px; background:rgba( 0, 0, 0, 0.5); display:block;
                  position:absolute; top:0px; left:0px; }
#slogan .hidden { overflow:hidden;
}
#slogan p{ color: white; text-align: center; text-transform: uppercase;  font-size: 50px; z-index:  999;
            text-shadow: 0 0 5px #000; position: absolute; top:80px; left:50%; transform: translate(-50%,0);}

#slogan a{  display: block; text-align: center; width: 180px;  height: 50px;
          background-color: rgb(206, 72, 72);  position: absolute;  top:70%;  left:50%;
          transform: translate(-50%,0%);  font-size: 20px;  font-weight: bold;
          box-sizing: border-box;  line-height: 45px;  color: white;  z-index: 999;
} */


/*
main{ width:100%; height:307px; background: #ebebeb; display:block; position: absolute; top:550px; }
#solutionWrap { width: 1000px; margin: 0 auto; position: relative;  }
#solution article { width:240px; height:141px; float:left; margin-right:93px;  margin-top:80px;
    }
#solution p{ font-size: 12px; margin-left: 82px; }
#solution h3{ font-style: bold; font-size:14px; margin-left:82px; }
.hostingsolution img{ width:64px; height:80px; float:left; }
.securitysolution img{ width:64px; height:80px; float:left; }
.paymentsolution img{ width:64px; height:80px; float:left }

#board { width: 420px; height: 234px; position:absolute; top:339px; left:450px; margin: 0 auto; }

#notice { width: 420px; height: 234px; position:absolute; top:0 ; left: 500px; margin: 0 auto; }
#sec_news h3{ margin-bottom:20px; }
#sec_news span{ color: orange; }
dt a { font-style:bold; font-size: 16px; color: red; }
dd { font-size: 12px; }

#notice h3{ color: green; margin-bottom: 20px; }
#notice ul {  }
#notice ul li { height: 27px; border-bottom: 1px dotted #000; }
#notice ul li a { float: left;  }
#notice ul li span{ float:right; }
hr { width:1900px; height: 1px; margin-bottom: 20px; }
#footer{ position:absolute; top:1106px; left: 50%; transform: translate(-50%,0);  text-align: center;  }
.facebook a{ width:33px; height:33px; background: url(../images/facebook.png) repeat center / cover;
            position: absolute; top: 35px; left: 1272px; box-sizing: border-box;}
.twitter a{ width:33px; height:33px;  background: url(../images/twitter.png) repeat center / cover;
            position: absolute; top: 35px; left: 1324px; z-index: 999;
 }
.logo { background: url(../images/logo.png) repeat center / cover; width:132px; height:26px;
        position:absolute; top:30px; left: 450px;
} */







/*
body, h1, h2, h3, h4, p, ul, li { margin: 0; padding: 0;}
ul li { list-style: none;}
a { text-decoration: none; color: black; }
html { width: 100%; height: 2000px;} */
/* #header { position:relative;  }
#header h2{ font-size: 12px;  float: right; position:absolute; right: 200px;  }
#header h3{ font-size: 12px; float:right; position:absolute; right: 250px;}

hgroup img { position: absolute;  width: 300px; height: 100px; display: block; padding-left: 80px; }

#gnb ul li a{ font-size: 24px; margin-left:50px;
            position:relative; top:80px; left:700px; float: left;  }
#gnb ul li a:hover { text-decoration: underline; color: blue;
}
.hidden{ position:absolute; left: -9999px; }
main { width:1300px; height: 363px; position:absolute; top:187px; left:0; display: block;
        background: url(../images/bread.png)  no-repeat center / cover;
 }
main::before { position: absolute; top: 0; left: 0; width:1921px; height: 1080px;
                content:""; background: rgb(0, 0, 0, 0.5);
  }
#pt1 { text-align: center; font-size: 64px; text-shadow: 0px 0px 8px #000; color:white; position:absolute; top: 400px; left: 600px;  }
main a { width:246px; height:60px; background:red; position:absolute; top: 722px; left: 800px;
        font-size: 24px; text-align: center; line-height: 60px; color: white;
 }
main a:hover{ background: blue; }

#info article { width: 270px; height: 242px; margin-top: 120px; margin-left: 300px; float:left;}
#info { position: absolute; top: 1080px; width:1921px; height:450px; background:silver; display:block; }
#info h2{ position: absolute; left: -9999px; }
#pp1{ width: 720px; background: #fff; position: absolute; top: 1730px; left: 120px; float:left; }
#pp2{ width: 720px; background: #fff; position: absolute; top: 1730px; left: 1100px; float:right; }
#pp1 h4{ color: red; }
#pp2 h3{ color: green; }
.ar1 h4{ height: 10px; float:left; }
.ar1 p{ height: 10px; float:right; }
.ar2 h4{ height: 10px; float:left; }
.ar2 p{ height: 10px; float:right; }
.ar3 h4{ height: 10px; float:left; }
.ar3 p{ height: 10px; float:right; }
.ar4 h4{ height: 10px; float:left; }
.ar4 p{ height: 10px; float:right; }
.ar5 h4{ height: 10px; float:left; }
.ar5 p{ height: 10px; float:right; }
#footer p{ width:1920px; height: 100px; position: absolute; top:2100px; display:block; text-align: center;} */
