@charset "utf-8";

#slogan { position:relative;  height: 363px; background: url(../images/slogan.jpg)no-repeat center center / cover; }
#slogan::before{ content: ""; position:absolute; top: 0; left: 0;
                  width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6);
  }

#slogan p { padding-top: 70px; position: relative;
            font-size: 60px; font-family: 나눔바른고딕, sans-serif; font-weight: bold;
            color: #fff; text-transform: uppercase; text-align: center;
            letter-spacing: 0.02em;
          }
#slogan a { position: relative; display:block; width: 156px; height:40px; background: #ef464c; color:#fff;
            margin: 30px auto 0; text-align: center; text-transform: capitalize;
            line-height: 40px;
 }

#solutionWrap { background: #ebebeb; padding: 80px 0; }
#solutionWrap::after{ content: ""; display: block; clear: both; }
#solution { width:930px; margin: 0 auto; }
#solution .solution { width: 310px; float: left;
                      padding: 0 34px 0 100px; box-sizing: border-box;
                      background: url(../images/bgSolution.png) no-repeat;
}
#solution .hosting { background-position-x: 0; }
#solution .security{ background-position-x: -310px; }
#solution .payment { background-position-x: -620px; }

#solution .solution a { color: #333;  }
#solution .solution h3 { font-size: 16px; margin-bottom: 10px;}
#solution .solution p { font-size: 13px; line-height: 15px; }


#board { overflow:hidden; width: 1000px; margin: 32px auto 0; }
#board > section { width: 410px; margin: 0 40px; float:left; }
#board > section h3 {
                      height: 21px; font-weight: normal; font-size: 14px;
                      text-transform: capitalize;
                      background: url(../images/bgBoard.png) no-repeat }

/* security news */
#sec_news { height:243px; }
#sec_news h3 { text-indent: 26px; font-style:italic; }
#sec_news h3 span { color: orange; }
#sec_news dl { margin-top: 18px; padding-left: 5px; font-size:14px; }
#sec_news dl dt a { color:red; }
#sec_news dl dd { margin-bottom: 7px; line-height: 15px;
                  /* width: 410px; */
                 }




/* news & notice */
#notice { height: 243px; }
#notice h3 { color: #967b1f; text-indent:24px; font-style: italic;
              padding-bottom:22px;
}
#notice ul li { width:410px; height:26px; border-bottom: 1px dotted #999;
            background: url(../images/bullet.png) no-repeat left center;
            float: left; line-height:26px; text-indent:15px; font-size:14px; }
#notice ul li a { color:#333; float:left; }
#notice ul li span { float:right; margin-right:14px;
                    color:#333;  font-size: 13px; }
