@charset "utf-8";
@import "common.css";
#subHeader { height: 300px; font-size: 48px; line-height: 300px; text-align: center; text-transform: uppercase;
            color:#fff; background: #000 no-repeat center / cover; position: relative;
}
#subHeader::before { content:""; width: 100%; height: 100%; position: absolute; top: 0; left: 0;
                    background:rgba(0, 0, 0, 0.5); }

#subHeader.subHeaderCustomer { background-image: url(../images/bgSubCustomer.jpg); }

#subHeader.subHeaderCompany { background-image: url(../images/bgSubSompany.jpg); }

#subHeader h2 { position: relative;}

#subWrap { width:1000px;  margin: 30px auto 0; }
#subWrap::after { content: ""; display: block; clear: both; }
#snb {  width:250px; float: left; margin-right:40px; }

#subContent { width:710px; float: right; }
#snb h3{  width:250px;  height:95px;
          margin-bottom: 15px; font-size: 30px; text-align: center; text-transform: uppercase;
          background: #3c3c3c; color: #fff;
          display: table-cell; vertical-align: middle;
  }
#snb ul { margin-top: 15px; }
#snb ul li a { height:50px; display: block; color: #5d6a7e; text-indent: 22px;
               border-bottom: 1px solid #5d6a7e; box-sizing:border-box;
               text-transform: uppercase;
               font-size: 14px; line-height: 50px;
               background: url(../images/bulletSnb.png)no-repeat 229px center;
}
#snb ul li a:hover { color:#97a766;
               border-bottom: 1px solid #97a766;
               background: url(../images/bulletSnbOver.png)no-repeat 229px center;
}



#subContent { width: 710px; float: right; box-sizing: border-box;}
#subContent h3 {  color: #ccc;
                /* font-weight: normal;
                font-size: 45px; font-family: "Times New Roman", sans-serif; */
              font: 45px "Times New Roman", serif ;
              /* line-height: 100px; */
 }
.subWelcome { padding-right: 45px; }
.subWelcome figure { float: right; margin: 0 0 10px 10px; text-align: center; }
.subWelcome p { margin: 0 0 15px 20px;  }

.subNotice{ padding-right: 50px; }
#notice {  }
#notice thead { background: linear-gradient(
                                             #68b0eb 0, #5fa7ef 25%, #3b92ef 49%, #338ae7 50%,
                                             #338bef 51%, #338bef 52%,
                                             #3083ed 75%, #2870df 100%);
                                              color: white;  }

#notice th { height:30px; font-size: 14px; font-weight: normal; text-transform: capitalize;}
#notice th.no { width: 56px; border-radius: 5px 0 0 5px; }
#notice th.title { width: 376px; letter-spacing: 10px; }
#notice th.write { width: 100px; }
#notice th.date { width: 72px; }
#notice th.read { width: 56px; border-radius: 0 5px 5px 0;  }
#notice td{ padding: 5px 0; border-bottom: 1px dotted #999; text-align:center; font-size: 14px; }
#notice tbody td:nth-child(2) { text-align: left; }
#notice tbody td:nth-child(2) div { width: 376px; overflow: hidden; white-space: nowrap;
                                    text-overflow: ellipsis; }

#noticeSearch { margin:12px 0 30px; text-align: right; }

#searchBox { width:202px; height: 22px;
              border: 1px solid #333;
              background: #fefcef; border-radius:10px;  box-sizing: border-box; }

#searchBox {  }
#searchBtn { width:90px; height:22px; box-sizing: border-box;
              background:linear-gradient( #61a7ec 0,  #2c83f4 50%);
              border: 1px solid #949c9f;
              border-radius: 10px; color: #fff;}

#page_control { text-align: center; }
#page_control a { color: #333;  margin: 0 14px;}








/*
#wel { font-size: 50px; color: silver; padding-bottom: 10px; }
.wel { width:665px; float: left; position:relative;  }
.wel figure{ width:197px; height:245px; text-align:center; color: blue; float:right; }
figure img{ float: right; }
.wel p{ margin-left: 20px; margin-bottom: 15px; font-size: 12px; }

#notice td { text-align: center; font-size:12px; }
#notice { float:right; width:660px; }
#notice .listTitle { float: left; text-align: left; line-height:30px; }
#notice th{ font-size:12px; padding: 0 10px; }
#subContent{ width: 705px; height: 610px; }
#subContent h3 { color: silver; font-size: 50px; }
#notice tbody tr{ height:30px; border-bottom: 1px dotted #000; }
#notice thead{ width: 660px; height: 30px; background: url(../images/board.png) no-repeat center / cover; }
#noticeSearch { padding-top: 20px; float: right; display:block; }
#page_control a{ color: #000; margin-left: 20px; display:block; float: left;  padding-top: 60px; text-align: center; } */
